@font-face {
    font-family: Chunkfive;
    src: url("fonts/Chunkfive.otf") format("opentype");
}

body,
html {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Chunkfive;
  color: white;
  /* IE10+ */ 
  background-image: -ms-linear-gradient(top, #086FB3 0%, #53A9FF 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #086FB3 0%, #53A9FF 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(top, #086FB3 0%, #53A9FF 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #086FB3), color-stop(100, #53A9FF));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #086FB3 0%, #53A9FF 100%);

  /* W3C Markup */ 
  background-image: linear-gradient(to bottom, #086FB3 0%, #53A9FF 100%);
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: transparent;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.App-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  font-size: 2em;
}

.App-button {
  background-color: #ff004d;
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
  opacity: 1;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 0.8em;
}

.App-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.App-subtitle {
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 30px;
  color: #cfcfcf;
}

.App-intro {
  font-size: large;
}

.question-container {
  padding-top: 80px;
}

p {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: italic;
  font-variant: normal;
  font-weight: 100;
  line-height: 20px;
}

h1 {

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
